# In-Class are the same as Unsolved (CP), but ignored to prevent accidental merge conflicts
*/*/*/In-Class
# Class activity files:
*/*/*/Solved
*/*/*/Unsolved
*/*-Challenge/Main
*/*-Module-Project/Main
*/*-Module-Project/lesson-files/*
!*/*-Module-Project/lesson-files/1.*
!*/*-Module-Project/lesson-files/2.*
!01-HTML-Git-CSS/*/01-*/Solved
!01-HTML-Git-CSS/*/02-*/Solved
!*/*-Module-Project/lesson-files/1.1
!*/*-Module-Project/lesson-files/1.2
!*/*-Module-Project/lesson-files/1.3
!*/*-Module-Project/lesson-files/1.4
!*/*-Module-Project/lesson-files/1.5
!*/*-Module-Project/lesson-files/1.6
!*/*-Module-Project/lesson-files/1.7
!01-HTML-Git-CSS/*/03-*/Solved
!01-HTML-Git-CSS/*/04-*/Solved
!01-HTML-Git-CSS/*/05-*/Solved
!02-Advanced-CSS/*/01-*/Unsolved
!02-Advanced-CSS/*/02-*/Unsolved
#!02-Advanced-CSS/*/03-*/Unsolved
#!02-Advanced-CSS/*/04-*/Unsolved
#!02-Advanced-CSS/*/05-*/Unsolved
#!02-Advanced-CSS/*/01-*/*/Solved
#!02-Advanced-CSS/*/02-*/*/Solved
#!02-Advanced-CSS/*/03-*/*/Solved
#!02-Advanced-CSS/*/04-*/*/Solved
#!02-Advanced-CSS/*/05-*/*/Solved