*/*/*/Solved
*/*-Challenge/Main
*/*-Module-Project/Main
*/*-Module-Project/lesson-files/*
# !01-HTML-Git-CSS/*/01-*/Solved
# !01-HTML-Git-CSS/*/02-*/Solved
!*/*-Module-Project/lesson-files/1.1
!*/*-Module-Project/lesson-files/1.2
#!*/*-Module-Project/lesson-files/1.3
#!*/*-Module-Project/lesson-files/1.4
#!*/*-Module-Project/lesson-files/1.5
#!*/*-Module-Project/lesson-files/1.6
#!*/*-Module-Project/lesson-files/1.7
01-HTML-Git-CSS/*/03-*/Unsolved
01-HTML-Git-CSS/*/03-*/README.md
01-HTML-Git-CSS/*/04-*/Unsolved
01-HTML-Git-CSS/*/04-*/assets
01-HTML-Git-CSS/*/04-*/README.md
01-HTML-Git-CSS/*/05-*/Unsolved
01-HTML-Git-CSS/*/05-*/assets
01-HTML-Git-CSS/*/05-*/README.md
# !01-HTML-Git-CSS/*/03-*/Solved
# !01-HTML-Git-CSS/*/04-*/Solved
# !01-HTML-Git-CSS/*/05-*/Solved